<footer class="site-footer">

    <div class="ad c-ads custom-code footer-ads col-md-12"><img src="/assets/wp-content/uploads/2017/10/ads-1.jpg" alt="ads"></div>
                    <div class="top-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="wrap_social_account">
                            <ul class="list-inline social_account__item"><li><a class="social-icons" target="_blank" href="#" title="Facebook"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li><li><a class="social-icons" target="_blank" href="#" title="Twitter"><i class="fab fa-twitter" aria-hidden="true"></i></a></li><li><a class="social-icons" target="_blank" href="#" title="Youtube"><i class="fab fa-youtube" aria-hidden="true"></i></a></li><li><a class="social-icons" target="_blank" href="#" title="Flickr"><i class="fab fa-flickr" aria-hidden="true"></i></a></li><li><a class="social-icons" target="_blank" href="#" title="Instagram"><i class="fab fa-instagram" aria-hidden="true"></i></a></li></ul>                                </div>
                    </div>
                </div>
            </div>
        </div>
                
    
    <div class="bottom-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <div class="nav-footer"><ul class="list-inline font-nav"><li id="menu-item-76" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-76"><a href aria-current="page">HOME</a></li>
<li id="menu-item-79" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-79"><a href="blog/">BLOG</a></li>
<li id="menu-item-78" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-78"><a href="contact/">CONTACT US</a></li>
<li id="menu-item-77" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-77"><a href="about-us/">ABOUT US</a></li>
<li id="menu-item-80" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-80"><a href="#">COOKIE POLICY</a></li>
</ul></div>
                    <div class="copyright">
                        <p>© 2017 Madara Inc. All rights reserved</p>                            </div>
                </div>
            </div>
        </div>
    </div>

</footer>
<div class="ad c-ads custom-code wall-ads-control wall-ads-left"><a href="https://themeforest.net/item/madara-wordpress-theme-for-manga/20849828?ref=wpstylish" title="buy Madara WordPress Theme now"><img src="/assets/wp-content/uploads/2018/02/side-ad-01.jpg" alt="buy Madara WordPress Theme now"></a></div><div class="ad c-ads custom-code wall-ads-control wall-ads-right"><a href="https://themeforest.net/item/madara-wordpress-theme-for-manga/20849828?ref=wpstylish" title="buy Madara WordPress Theme now"><img src="/assets/wp-content/uploads/2018/02/side-ad-02.jpg" alt="buy Madara WordPress Theme now"></a></div>
            <div id="hover-infor"></div>

</div> <!-- class="wrap" --></div> <!-- class="body-wrap" -->


<script>
function coolTagCloudToggle( element ) {
    var parent = element.closest('.cool-tag-cloud');
    parent.querySelector('.cool-tag-cloud-inner').classList.toggle('cool-tag-cloud-active');
    parent.querySelector( '.cool-tag-cloud-load-more').classList.toggle('cool-tag-cloud-active');
}
</script>

<!-- Modal -->
    <div class="go-to-top active">
        <i class="icon ion-md-arrow-up"></i>
    </div>
    <script type="text/javascript" src="/assets/wp-content/themes/madara/js/core.js"></script>
<script type="text/javascript" src="/assets/wp-content/themes/madara/js/smoothscroll.js"></script>
<script type="text/javascript" src="/assets/wp-content/themes/madara/js/lazysizes/lazysizes.min.js"></script>
<script type="text/javascript" src="/assets/wp-content/themes/madara/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/wp-content/themes/madara/js/shuffle.min.js"></script>
<script type="text/javascript" src="/assets/wp-includes/js/imagesloaded.min.js"></script>
<script type="text/javascript" src="/assets/wp-content/themes/madara/js/aos.js"></script>
<script type="text/javascript">
/* <![CDATA[ */
var madara = {"ajaxurl":"http:\/\/demo.mangabooth.com\/wp-admin\/admin-ajax.php","query_vars":{"error":"","m":"","p":"12","post_parent":"","subpost":"","subpost_id":"","attachment":"","attachment_id":0,"name":"","pagename":"","page_id":"12","second":"","minute":"","hour":"","day":0,"monthnum":0,"year":0,"w":0,"category_name":"","tag":"","cat":"","tag_id":"","author":"","author_name":"","feed":"","tb":"","paged":0,"meta_key":"","meta_value":"","preview":"","s":"","sentence":"","title":"","fields":"","menu_order":"","embed":"","category__in":[],"category__not_in":[],"category__and":[],"post__in":[],"post__not_in":[],"post_name__in":[],"tag__in":[],"tag__not_in":[],"tag__and":[],"tag_slug__in":[],"tag_slug__and":[],"post_parent__in":[],"post_parent__not_in":[],"author__in":[],"author__not_in":[],"ignore_sticky_posts":false,"suppress_filters":false,"cache_results":true,"update_post_term_cache":true,"lazy_load_term_meta":true,"update_post_meta_cache":true,"post_type":"","posts_per_page":12,"nopaging":false,"comments_per_page":"50","no_found_rows":false,"order":"DESC"},"current_url":"http:\/\/demo.mangabooth.com"};
/* ]]> */
</script>
<script type="text/javascript" src="/assets/wp-content/themes/madara/js/template.js"></script>
<script type="text/javascript" src="/assets/wp-content/themes/madara/js/ajax.js"></script>
<script type="text/javascript">
/* <![CDATA[ */
var wpMangaLogin = {"admin_ajax":"http:\/\/demo.mangabooth.com\/wp-admin\/admin-ajax.php","home_url":"http:\/\/demo.mangabooth.com","messages":{"please_enter_username":"Please enter username","please_enter_password":"Please enter password","invalid_username_or_password":"Invalid username or password","server_error":"Server Error!","username_or_email_cannot_be_empty":"Username or Email cannot be empty","please_fill_all_fields":"Please fill in all password fields.","password_cannot_less_than_12":"Password cannot has less than 12 characters","password_doesnot_match":"Password doesn&#039;t match. Please  try again.","username_cannot_empty":"Username cannot be empty","email_cannot_empty":"Email cannot be empty","password_cannot_empty":"Password cannot be empty"}};
/* ]]> */
</script>
<script type="text/javascript" src="/assets/wp-content/plugins/madara-core/assets/js/login.js"></script>
<script type="text/javascript" src="/assets/wp-content/plugins/madara-core/assets/slick/slick.min.js"></script>
<script type="text/javascript" src="/assets/wp-includes/js/jquery/ui/core.min.js"></script>
<script type="text/javascript" src="/assets/wp-includes/js/jquery/ui/widget.min.js"></script>
<script type="text/javascript" src="/assets/wp-includes/js/jquery/ui/position.min.js"></script>
<script type="text/javascript" src="/assets/wp-includes/js/jquery/ui/menu.min.js"></script>
<script type="text/javascript" src="/assets/wp-includes/js/dist/vendor/wp-polyfill.min.js"></script>
<script type="text/javascript">
( 'fetch' in window ) || document.write( '<script src="http://demo.mangabooth.com/wp-includes/js/dist/vendor/wp-polyfill-fetch.min.js?ver=3.0.0"></scr' + 'ipt>' );( document.contains ) || document.write( '<script src="http://demo.mangabooth.com/wp-includes/js/dist/vendor/wp-polyfill-node-contains.min.js?ver=3.26.0-0"></scr' + 'ipt>' );( window.FormData && window.FormData.prototype.keys ) || document.write( '<script src="http://demo.mangabooth.com/wp-includes/js/dist/vendor/wp-polyfill-formdata.min.js?ver=3.0.12"></scr' + 'ipt>' );( Element.prototype.matches && Element.prototype.closest ) || document.write( '<script src="http://demo.mangabooth.com/wp-includes/js/dist/vendor/wp-polyfill-element-closest.min.js?ver=2.0.2"></scr' + 'ipt>' );
</script>
<script type="text/javascript" src="/assets/wp-includes/js/dist/dom-ready.min.js"></script>
<script type="text/javascript" src="/assets/wp-includes/js/dist/a11y.min.js"></script>
<script type="text/javascript">
/* <![CDATA[ */
var uiAutocompleteL10n = {"noResults":"No results found.","oneResult":"1 result found. Use up and down arrow keys to navigate.","manyResults":"%d results found. Use up and down arrow keys to navigate.","itemSelected":"Item selected."};
/* ]]> */
</script>
<script type="text/javascript" src="/assets/wp-includes/js/jquery/ui/autocomplete.min.js"></script>
<script type="text/javascript">
/* <![CDATA[ */
var manga = {"ajax_url":"http:\/\/demo.mangabooth.com\/wp-admin\/admin-ajax.php","home_url":"http:\/\/demo.mangabooth.com","manga_paged_var":"manga-paged"};
var mangaReadingAjax = {"isEnable":"1"};
/* ]]> */
</script>
<script type="text/javascript" src="/assets/wp-content/plugins/madara-core/assets/js/script.js"></script>
<script type="text/javascript">
/* <![CDATA[ */
var madara_hover_load_post = {"ajax_url":"http:\/\/demo.mangabooth.com\/wp-admin\/admin-ajax.php"};
/* ]]> */
</script>
<script type="text/javascript" src="/assets/wp-content/themes/madara/js/manga-hover.js"></script>
<script type="text/javascript" src="/assets/wp-includes/js/wp-embed.min.js"></script>
<script type="text/javascript" src="/assets/wp-content/themes/madara/js/slick/slick.min.js"></script>
<script type="text/javascript" src="/assets/wp-content/plugins/madara-shortcodes/shortcodes/js/ct-shortcodes.js"></script>
<script src="toastr.js"></script>
<!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script> -->
<!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script> -->

</body></html>